@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior:smooth;
}

.html{
    scroll-behavior:smooth;
}
/* footer section styling */
footer{
    background: #fff;
    padding:20px 23px;
    color:#111;
    font-family:'Poppins', sans-serif;
   
}
footer span a{
   color:lightseagreen;
   text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

@media (max-width:344px){
    /* form section styling */
    .max-width{
        max-width:max-content;
        padding:0 60px;
        margin: auto;
    }
/* form section styling */

.form{
    color:#fff;
    background: #111;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.form .title {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    padding-top: 15px;
    color: lightseagreen;
    padding-bottom: 20px;

}

.form .form-content h3{
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    padding-top: 15px;
    padding-bottom: 20px;

}

.form .form-content p{
    color: lightseagreen;
    font-size: 16px;
    margin: 10px 1px;
}

.form .form-content input[type="text"]{
    font-size: 15px;
    padding: 5px 15px;
    border: 0;
    width: 100%;
    border-radius: 5px;
    outline: none;

}

.form .form-content input[type="email"]{
    font-size: 15px;
    padding: 5px 15px;
    border: 0;
    width: 100%;
    border-radius: 5px;
    outline: none;

}

.form .form-content label{
    font-size: 16px;
    padding-left: 2px;
    
}
.form .form-content input[type="radio"]{
    font-size: 14px;

}
/* The container */
.form .form-content .container {
    display: inline;
    position: relative;
    padding-left: 36px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 20px;

    
  }

  /* Hide the browser's default radio button */
  .form .form-content .container input[type="radio"] {
    position: relative;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .form .form-content .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: 43%;
    margin-top: 10px;
  }

  /* On mouse-over, add a grey background color */
  .form .form-content .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .form .form-content .container input:checked ~ .checkmark {
    background-color:lightseagreen;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .form .form-content .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .form .form-content .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .form .form-content .container .checkmark:after {
       top: 4px;
      left: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }


.form .form-content .select-container{
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 250px;
    height: 32px;

}

.form .form-content .select-container .icon-container{
    width: 50px;
    height:100%;
    position: absolute;
    right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form .form-content .select-container .icon-container span{
    font-size: 30px;
    color:lightseagreen;
}

.form .form-content .select-container .select-box{
  border: none;
  appearance: none;
  padding: 0px 20px 0px 15px;
  width: 73%;
  color:lightseagreen;
  background-color: #fff;
  font-size:16px; 
  border-radius: 5px; 
  height: 34px;
  margin-right: 5%; 
  
}

.form .form-content .button button{
    height: 47px;
    width: 170px;
    margin-top: 20px;
    margin-bottom: 30px;

}


.form .form-content form button{
    border: 2px solid lightseagreen;
    background: lightseagreen;
    color: #fff;
    font-size: 20px;
    font-weight: 500; 
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.form .form-content form button:hover{
    color:#fff;
    background: lightseagreen;
}
 .form .form-content input[type="checkbox"] {
    font-size: 10px;
}

}
@media (min-width:345px){
    /* form section styling */
    .max-width{
        max-width:max-content;
        padding:0 60px;
        margin: auto;
    }
/* form section styling */

.form{
    color:#fff;
    background: #111;
    font-family: "Poppins", sans-serif;
    text-align: center;
}



.form .title {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    padding-top: 15px;
    color: lightseagreen;
    padding-bottom: 20px;

}

.form .form-content h3{
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    padding-top: 15px;
    padding-bottom: 20px;

}

.form .form-content p{
    color: lightseagreen;
    font-size: 16px;
    margin: 10px 1px;
}

.form .form-content input[type="text"]{
    font-size: 15px;
    padding: 5px 15px;
    border: 0;
    width: 100%;
    border-radius: 5px;
    outline: none;

}

.form .form-content input[type="email"]{
    font-size: 15px;
    padding: 5px 15px;
    border: 0;
    width: 100%;
    border-radius: 5px;
    outline: none;

}

.form .form-content label{
    font-size: 16px;
    padding-right: 1px;
}
.form .form-content input[type="radio"]{
    font-size: 14px;

}
/* The container */
.form .form-content .container {
    display: inline;
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 30px;
    
  }

  /* Hide the browser's default radio button */
  .form .form-content .container input[type="radio"] {
    position: relative;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .form .form-content .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: 43%;
    margin-top: 10px;
  }

  /* On mouse-over, add a grey background color */
  .form .form-content .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .form .form-content .container input:checked ~ .checkmark {
    background-color:lightseagreen;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .form .form-content .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .form .form-content .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .form .form-content .container .checkmark:after {
       top: 4px;
      left: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }


.form .form-content .select-container{
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 250px;
    height: 32px;

}

.form .form-content .select-container .icon-container{
    width: 50px;
    height:100%;
    position: absolute;
    right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form .form-content .select-container .icon-container span{
    font-size: 30px;
    color:lightseagreen;
}

.form .form-content .select-container .select-box{
  border: none;
  appearance: none;
  padding: 0px 20px 0px 15px;
  width: 73%;
  color:lightseagreen;
  background-color: #fff;
  font-size:16px; 
  border-radius: 5px; 
  height: 34px;
  
}

.form .form-content .button button{
    height: 47px;
    width: 170px;
    margin-top: 20px;
    margin-bottom: 30px;

}


.form .form-content form button{
    border: 2px solid lightseagreen;
    background: lightseagreen;
    color: #fff;
    font-size: 20px;
    font-weight: 500; 
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.form .form-content form button:hover{
    color:#fff;
    background: lightseagreen;
}
 .form .form-content input[type="checkbox"] {
    font-size: 10px;
}

}
